body {
    margin: 0;
}
#wrapper {
	position: relative;
	margin: 0;
}
#content {
	position: absolute;
	top: 40%;
	left: 25%;
	right: 25%;
    border-bottom: 3px solid green;
    border-radius: 10px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
	
}
#item {
	position: absolute;
	bottom: 12%;
	right: 5%;
}
#copyright {
	text-align: center;
    font-family: 'MedievalSharp', cursive;
    
}
a {
	text-decoration: none;
	color: green;
}
canvas {
    border-bottom: 3px solid green;
}
#locInfo {
	position: absolute;
	bottom: 7%;
	right: 5%;
	font-size: 10px;
}
