body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'M PLUS 1p', sans-serif;
}
#wrapper {
	position: relative;
	margin: 0;
}
#content {
	position: absolute;
	top: 50px;
	left: 100px;
	right: 100px;
  height: 100px;
  text-align: center;
}

.header {
  position: absolute;
  height: 75px;
  width: 170px;
  border: 3px solid rgba(0, 0, 255, 0.05);
  border-radius: 10px;
  display: inline-block;
  margin: 2px;
  background-color: rgba(240, 240, 240, 0.1);
}
#headerOne {
  left: 0px;
  cursor:pointer
}
#headerOne:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
#headerTwo {
  left: 180px;
  cursor:pointer;
  overflow: scroll;
}
#headerTwo:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
#headerThree {
  overflow: scroll;
  left: 360px;
  cursor:pointer
}
#headerThree:hover {
  background-color: rgba(240, 240, 240, 0.2);
}

@media only screen and (max-width: 600px) {
    #content {
      left: 10px;
    }
    #headerTwo {
      left: 0px;
      top: 125px;
    }
    #headerThree {
      left: 0px;
      top: 250px;
    }
}

#item {
	position: absolute;
	bottom: 12%;
	right: 5%;
}
#copyright {
	text-align: center;
    
}
a {
	text-decoration: none;
	color: green;
}
canvas {
    border-bottom: 3px solid green;
    background-color: rgba(0, 0, 0, 0);
}
#locInfo {
	position: absolute;
	bottom: 7%;
	right: 5%;
	font-size: 10px;
}

/* |||||||||||||||||| */
/* ||||| SLIDERS |||| */
/* |||||||||||||||||| */


#switch {
  position: absolute;
  opacity: 0.5;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 34px;
}

#switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* |||||||||||||||||| */
/* ||| END SLIDER ||| */
/* |||||||||||||||||| */
