body {
    margin: 0;
    background-color: rgb(240, 240, 240);
}
#wrapper {
	position: relative;
	margin: 0;
}
#content {
	position: absolute;
	top: 40%;
	left: 25%;
	right: 25%;
    border-bottom: 3px solid green;
    border-radius: 10px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
	
}
#item {
	position: absolute;
	bottom: 12%;
	right: 5%;
}
#copyright {
	text-align: center;
    font-family: 'MedievalSharp', cursive;
    
}
a {
	text-decoration: none;
	color: green;
}
canvas {
    border-bottom: 3px solid green;
    background-color: rgba(0, 0, 0, 0);
}
#locInfo {
	position: absolute;
	bottom: 7%;
	right: 5%;
	font-size: 10px;
}



#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
